<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Plate Detection</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Detected Number Plates</h1>
    <table>
        <thead>
            <tr>
                <th>Number Plate</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for plate in data %}
            <tr>
                <td>{{ plate[0] }}</td>
                <td>{{ plate[1] }}</td>
                <td>{{ plate[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>